Repository Nice-Wolf-Studio/TJR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Nice-Wolf-Studio/maintainers, @Nice-Wolf-Studio/devops, @Nice-Wolf-Studio/architects, @Nice-Wolf-Studio/qa

.github/CODEOWNERS:

# CODEOWNERS for TJR Suite Monorepo
# Defines ownership and required reviewers for different parts of the codebase
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Format: <path-pattern> @github-username @github-org/team-name
# Later matches take precedence over earlier matches

# ==============================================================================
# DEFAULT OWNERS (catch-all for any unspecified files)
# ==============================================================================
* @Nice-Wolf-Studio/maintainers

# ==============================================================================
# INFRASTRUCTURE & CONFIGURATION
# ==============================================================================

# Root configuration files (build, lint, format)
/package.json                @Nice-Wolf-Studio/maintainers
/pnpm-workspace.yaml         @Nice-Wolf-Studio/maintainers
/tsconfig.base.json          @Nice-Wolf-Studio/maintainers
/.eslintrc.cjs               @Nice-Wolf-Studio/maintainers
/.prettierrc                 @Nice-Wolf-Studio/maintainers
/.editorconfig               @Nice-Wolf-Studio/maintainers

# CI/CD workflows (requires DevOps review)
/.github/workflows/          @Nice-Wolf-Studio/devops

# GitHub-specific configs
/.github/CODEOWNERS          @Nice-Wolf-Studio/maintainers

# Changesets (versioning and releases)
/.changeset/                 @Nice-Wolf-Studio/maintainers

# ==============================================================================
# DOCUMENTATION
# ==============================================================================

# Architectural Decision Records (requires architect review)
/docs/adr/                   @Nice-Wolf-Studio/architects

# Governance and policies
/docs/governance/            @Nice-Wolf-Studio/maintainers

# General documentation
/docs/                       @Nice-Wolf-Studio/maintainers

# Root README
/README.md                   @Nice-Wolf-Studio/maintainers

# ==============================================================================
# WORKSPACE PACKAGES
# ==============================================================================

# Default package ownership (can be overridden per-package below)
/packages/                   @Nice-Wolf-Studio/maintainers

# Smoke test package (owned by QA team)
/packages/smoke/             @Nice-Wolf-Studio/qa

# ==============================================================================
# NOTES
# ==============================================================================
# - Add specific package owners as new packages are created
# - Format: /packages/<package-name>/  @owner-username
# - Teams should be created in GitHub org settings before referencing here
# - Individual users can also be specified: @username

[51][A3] Logger & error handler
  docs/adr/ADR-0053-logger-and-error-handler.md
  docs/journal/_fragments/51/51.A3-logger.md
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/createLogger.ts
  packages/logger/src/errorHandler.ts
  packages/logger/src/formats.ts
  packages/logger/src/index.ts
  packages/logger/src/types.ts
  packages/logger/tests/errorHandler.test.ts
  packages/logger/tests/logger.test.ts
  packages/logger/tests/pii-redaction.test.ts
  packages/logger/tsconfig.json
  security/logging-policy.md
Owners: @Nice-Wolf-Studio/maintainers

[51][B2][Symbol registry & continuous mapping]
  docs/adr/ADR-0056-symbol-registry.md
  docs/journal/_fragments/51/51.B2-symbol-registry.md
  packages/symbol-registry/README.md
  packages/symbol-registry/data/rollover-rules.json
  packages/symbol-registry/package.json
  packages/symbol-registry/src/aliases.ts
  packages/symbol-registry/src/continuous.ts
  packages/symbol-registry/src/index.ts
  packages/symbol-registry/src/normalize.ts
  packages/symbol-registry/src/types.ts
  packages/symbol-registry/tests/aliases.test.js
  packages/symbol-registry/tests/normalize.test.js
  packages/symbol-registry/tsconfig.json
  pnpm-lock.yaml
Owners: @Nice-Wolf-Studio/maintainers

[51][C2][Sessions calendar] Pure-function trading calendar
  docs/adr/ADR-0058-sessions-calendar.md
  docs/journal/_fragments/51/51.C2-sessions-calendar.md
  packages/sessions-calendar/README.md
  packages/sessions-calendar/package.json
  packages/sessions-calendar/src/calendar.ts
  packages/sessions-calendar/src/data/cme-calendar.json
  packages/sessions-calendar/src/index.ts
  packages/sessions-calendar/src/types.ts
  packages/sessions-calendar/tests/calendar.test.js
  packages/sessions-calendar/tsconfig.json
Owners: @Nice-Wolf-Studio/maintainers

Add market-data-core package with timeframe utilities and bar aggregation
  .gitignore
  docs/adr/ADR-0055-market-data-core.md
  docs/journal/_fragments/51/51.B1-market-core.md
  package.json
  packages/market-data-core/README.md
  packages/market-data-core/package.json
  packages/market-data-core/src/aggregate.ts
  packages/market-data-core/src/clip.ts
  packages/market-data-core/src/index.ts
  packages/market-data-core/src/timeframe.ts
  packages/market-data-core/src/types.ts
  packages/market-data-core/tests/aggregate.test.js
  packages/market-data-core/tests/clip.test.js
  packages/market-data-core/tests/dst-fixtures.test.js
  packages/market-data-core/tests/timeframe.test.js
  packages/market-data-core/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.base.json
Owners: @Nice-Wolf-Studio/maintainers

[51][A1] Monorepo bootstrap: workspaces, CI, lint, changesets (#1)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  .gitignore
  README.md
  docs/adr/ADR-0051-monorepo-bootstrap.md
  docs/governance/branch-protections.md
  docs/journal/_fragments/51/51.A1-monorepo-bootstrap.md
  package.json
  packages/smoke/package.json
  packages/smoke/src/index.ts
  packages/smoke/tests/index.test.js
  packages/smoke/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  security/deps-audit.md
  tsconfig.base.json
Owners: @Nice-Wolf-Studio/maintainers, @Nice-Wolf-Studio/devops, @Nice-Wolf-Studio/qa

[51][D1][Analysis-kit: pure analytics]
  docs/adr/ADR-0059-analysis-kit.md
  docs/journal/_fragments/51/51.D1-analysis-kit.md
  packages/analysis-kit/README.md
  packages/analysis-kit/__fixtures__/bias-bullish.json
  packages/analysis-kit/__fixtures__/profile-trend-day.json
  packages/analysis-kit/__fixtures__/session-extraction.json
  packages/analysis-kit/__fixtures__/structure-swings.json
  packages/analysis-kit/package.json
  packages/analysis-kit/src/bias/daily-bias-v1.ts
  packages/analysis-kit/src/index.ts
  packages/analysis-kit/src/profile/day-profile-v1.ts
  packages/analysis-kit/src/session/sessions.ts
  packages/analysis-kit/src/structure.ts
  packages/analysis-kit/src/types.ts
  packages/analysis-kit/tests/analysis-kit.test.js
  packages/analysis-kit/tsconfig.json
Owners: @Nice-Wolf-Studio/maintainers

[51][A2] Contracts DTOs & error taxonomy (#2)
  docs/adr/ADR-0052-contracts-and-errors.md
  docs/journal/_fragments/51/51.A2-contracts.md
  packages/contracts/README.md
  packages/contracts/package.json
  packages/contracts/src/errors.ts
  packages/contracts/src/index.ts
  packages/contracts/src/market.ts
  packages/contracts/src/timeframes.ts
  packages/contracts/src/tjr.ts
  packages/contracts/tests/errors.test.ts
  packages/contracts/tests/timeframes.test.ts
  packages/contracts/tests/tjr.test.ts
  packages/contracts/tsconfig.json
  packages/contracts/vitest.config.ts
  pnpm-lock.yaml
Owners: @Nice-Wolf-Studio/maintainers

[51][A4] Dev-scripts toolkit (#6)
  .github/workflows/ci.yml
  docs/adr/ADR-0054-dev-scripts.md
  docs/journal/_fragments/51/51.A4-dev-scripts.md
  packages/dev-scripts/README.md
  packages/dev-scripts/bin/cache-verify.ts
  packages/dev-scripts/bin/cache-warm.ts
  packages/dev-scripts/bin/commands-diff.ts
  packages/dev-scripts/bin/replay-run.ts
  packages/dev-scripts/examples/es_2024-10-01.json
  packages/dev-scripts/package.json
  packages/dev-scripts/src/cli-utils.ts
  packages/dev-scripts/tests/cli-utils.test.js
  packages/dev-scripts/tests/replay-run.test.js
  packages/dev-scripts/tsconfig.json
Owners: @Nice-Wolf-Studio/devops, @Nice-Wolf-Studio/maintainers

[51][C1] Add db-simple package with SQLite and PostgreSQL support
  .env.example
  docs/adr/ADR-0057-db-simple.md
  docs/journal/_fragments/51/51.C1-db-simple.md
  packages/db-simple/README.md
  packages/db-simple/examples/001_create_tables.sql
  packages/db-simple/package.json
  packages/db-simple/src/connect.ts
  packages/db-simple/src/index.ts
  packages/db-simple/src/migrate.ts
  packages/db-simple/tests/fixtures/001_test_migration.sql
  packages/db-simple/tests/index.test.js
  packages/db-simple/tsconfig.json
  pnpm-lock.yaml
Owners: @Nice-Wolf-Studio/maintainers

Fix critical PostgreSQL compatibility and add transaction support
  packages/db-simple/README.md
  packages/db-simple/examples/001_create_tables.sql
  packages/db-simple/examples/001_create_tables_postgres.sql
  packages/db-simple/package.json
  packages/db-simple/src/connect.ts
  packages/db-simple/src/migrate.ts
  packages/db-simple/tests/fixtures-postgres/001_test_migration_postgres.sql
  packages/db-simple/tests/postgres.test.js
  pnpm-lock.yaml
Owners: @Nice-Wolf-Studio/maintainers

[51][C1] DB-simple connectors & migrator (#4)
  .env.example
  docs/adr/ADR-0053-logger-and-error-handler.md
  docs/adr/ADR-0057-db-simple.md
  docs/journal/_fragments/51/51.A3-logger.md
  docs/journal/_fragments/51/51.C1-db-simple.md
  packages/db-simple/README.md
  packages/db-simple/examples/001_create_tables.sql
  packages/db-simple/examples/001_create_tables_postgres.sql
  packages/db-simple/package.json
  packages/db-simple/src/connect.ts
  packages/db-simple/src/index.ts
  packages/db-simple/src/migrate.ts
  packages/db-simple/tests/fixtures-postgres/001_test_migration_postgres.sql
  packages/db-simple/tests/fixtures/001_test_migration.sql
  packages/db-simple/tests/index.test.js
  packages/db-simple/tests/postgres.test.js
  packages/db-simple/tsconfig.json
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/createLogger.ts
  packages/logger/src/errorHandler.ts
  packages/logger/src/formats.ts
  packages/logger/src/index.ts
  packages/logger/src/types.ts
  packages/logger/tests/errorHandler.test.ts
  packages/logger/tests/logger.test.ts
  packages/logger/tests/pii-redaction.test.ts
  packages/logger/tsconfig.json
  pnpm-lock.yaml
  security/logging-policy.md
Owners: @Nice-Wolf-Studio/maintainers
